.accordion {
  dt [aria-expanded="true"] {
    font-weight: bold;
  }

  dd {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s;

    &.is-expanded {
      max-height: 99px;
      transition: max-height 2s;
    }
  }
}
