.accordion {
  &.is-touched > dd {
    transition: max-height .2s;
  }

  dt [aria-expanded="true"] {
    font-weight: bold;
  }

  dd {
    max-height: 0;
    overflow: hidden;

    &.is-expanded {
      max-height: 999px;     
    }
  }
}
