.accordion {
  dt [aria-expanded="true"] {
    font-weight: bold;
  }

  dd {
    max-height: 0;
    overflow: hidden;
    
    &.is-interactive {
      transition: max-height .2s;
    }

    &.is-expanded {
      max-height: 99px;     
    }
  }
}
